@font-face {
  font-family: Inter;
  src: url(https://cdn.shopify.com/s/files/1/0636/6488/1881/files/Inter-Regular.ttf?v=1651320993); }
@font-face {
  font-family: Inter-Bold;
  src: url(https://cdn.shopify.com/s/files/1/0636/6488/1881/files/Inter-Bold.ttf?v=1651320993); }
html body {
  font-family: Inter; }
  html body .page-width.page-width--narrow {
    width: 100%;
    max-width: 100%;
    padding: 0;
    margin: 0; }
  html body .main-page-title.page-title {
    display: none; }
  html body .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: normal !important;
    letter-spacing: normal !important; }
    html body .wrapper button {
      margin: 0 auto;
      background-color: #000000;
      padding: 26px 95px;
      color: #fff;
      width: 31%;
      margin-bottom: 100px;
      cursor: pointer;
      border: none; }
    html body .wrapper .bottom-note {
      font-size: 14px;
      margin-top: 70px;
      text-align: center; }
    html body .wrapper hr {
      height: 1px;
      width: 100%;
      background-color: #C0C0C0; }
    html body .wrapper .title {
      text-align: center;
      margin: 0 0 90px 0; }
      html body .wrapper .title .title-data {
        font-size: 16px; }
      html body .wrapper .title .title-info {
        margin-top: 11px;
        font-size: 24px;
        font-family: Inter-Bold;
        font-weight: bold; }
      html body .wrapper .title .title-sum {
        font-size: 50px;
        margin-top: 22px;
        font-family: Inter-Bold;
        font-weight: bold; }
    html body .wrapper .block {
      width: 100%; }
      html body .wrapper .block .block-wrapper {
        display: flex;
        flex-direction: column;
        width: 1200px;
        margin: 0 auto;
        padding: 90px 0px 90px 0px; }
      html body .wrapper .block .bubles-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        flex-wrap: wrap; }
        html body .wrapper .block .bubles-container .block-bubble {
          background: #fff;
          border-radius: 25px;
          box-shadow: 11px 13px 19px 5px rgba(0, 0, 0, 0.05);
          -webkit-box-shadow: 11px 13px 19px 5px rgba(0, 0, 0, 0.05);
          width: 31%; }
          html body .wrapper .block .bubles-container .block-bubble.long-bubble {
            width: 65%; }
          html body .wrapper .block .bubles-container .block-bubble .bubble-wrapper {
            padding: 40px; }
        html body .wrapper .block .bubles-container .icon .yellow-icon {
          filter: brightness(0) saturate(100%) invert(83%) sepia(42%) saturate(1927%) hue-rotate(355deg) brightness(102%) contrast(109%); }
        html body .wrapper .block .bubles-container .icon .icons {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center; }
        html body .wrapper .block .bubles-container .sum {
          margin-top: 20px;
          font-size: 31px;
          font-family: Inter-Bold;
          font-weight: bold; }
          html body .wrapper .block .bubles-container .sum .sum-title {
            font-size: 16px;
            font-weight: normal; }
          html body .wrapper .block .bubles-container .sum .sum-columns {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center; }
            html body .wrapper .block .bubles-container .sum .sum-columns div:first-child {
              font-size: 50px; }
            html body .wrapper .block .bubles-container .sum .sum-columns .sum-text {
              font-size: 24px;
              line-height: 24px;
              margin-left: 10px;
              width: 60px; }
        html body .wrapper .block .bubles-container .info {
          margin-top: 20px;
          font-size: 16px; }
          html body .wrapper .block .bubles-container .info .hint {
            color: #C0C0C0; }
          html body .wrapper .block .bubles-container .info .info-paragraph {
            margin-top: 20px; }
          html body .wrapper .block .bubles-container .info a {
            font-family: Inter-Bold;
            font-weight: bold;
            text-decoration: underline;
            color: #000; }
      html body .wrapper .block.block_first {
        padding-bottom: 0; }
        html body .wrapper .block.block_first .block-with-top-tooltip {
          width: 100%;
          position: relative;
          width: 31%; }
          html body .wrapper .block.block_first .block-with-top-tooltip .top-tooltip {
            position: absolute;
            top: -56px;
            background-color: #E6764E;
            border-radius: 25px;
            width: 100%;
            height: 150px;
            z-index: 1;
            color: #fff;
            font-size: 16px;
            font-weight: normal; }
            html body .wrapper .block.block_first .block-with-top-tooltip .top-tooltip div {
              max-width: 50%;
              margin-left: 37px;
              margin-top: 11px; }
          html body .wrapper .block.block_first .block-with-top-tooltip .block-bubble {
            width: 100%;
            z-index: 2;
            position: relative;
            background: #fff; }
            html body .wrapper .block.block_first .block-with-top-tooltip .block-bubble .icon.hat {
              margin-top: 54px; }
      html body .wrapper .block.block_second.block_second .block-wrapper, html body .wrapper .block.block_fifth.block_second .block-wrapper {
        padding-top: 0; }
      html body .wrapper .block.block_second .block-bubble:first-child, html body .wrapper .block.block_fifth .block-bubble:first-child {
        background: none;
        border-radius: 0;
        box-shadow: none;
        -webkit-box-shadow: none;
        width: 31%; }
        html body .wrapper .block.block_second .block-bubble:first-child .sum, html body .wrapper .block.block_fifth .block-bubble:first-child .sum {
          margin-top: 60px;
          font-size: 50px;
          font-family: Inter-Bold;
          font-weight: bold; }
        html body .wrapper .block.block_second .block-bubble:first-child .info-title, html body .wrapper .block.block_fifth .block-bubble:first-child .info-title {
          font-size: 24px;
          font-family: Inter-Bold;
          font-weight: bold; }
        html body .wrapper .block.block_second .block-bubble:first-child .info, html body .wrapper .block.block_fifth .block-bubble:first-child .info {
          width: 85%;
          font-size: 14px; }
      html body .wrapper .block.block_second.block_second .block-bubble.long-bubble .bubble-wrapper, html body .wrapper .block.block_fifth.block_second .block-bubble.long-bubble .bubble-wrapper {
        background-image: url("https://cdn.shopify.com/s/files/1/0636/6488/1881/files/photo.svg?v=1651318247");
        background-repeat: no-repeat;
        background-position-x: 100%;
        border-radius: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        html body .wrapper .block.block_second.block_second .block-bubble.long-bubble .bubble-wrapper .left, html body .wrapper .block.block_second.block_second .block-bubble.long-bubble .bubble-wrapper .right, html body .wrapper .block.block_fifth.block_second .block-bubble.long-bubble .bubble-wrapper .left, html body .wrapper .block.block_fifth.block_second .block-bubble.long-bubble .bubble-wrapper .right {
          width: 50%; }
      html body .wrapper .block.block_third {
        background-color: #D5E6ED; }
        html body .wrapper .block.block_third .block-wrapper {
          padding-bottom: 50px; }
          html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble {
            height: 347px;
            width: 49%; }
            html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble .bubble-wrapper {
              background-repeat: no-repeat;
              height: 100%;
              box-sizing: border-box;
              background-position-x: right;
              background-position-y: bottom; }
            html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble:first-child .bubble-wrapper {
              background-image: url("https://cdn.shopify.com/s/files/1/0636/6488/1881/files/handsheart.png?v=1652034996"); }
              html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble:first-child .bubble-wrapper .info {
                width: 50%; }
            html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble:last-child .bubble-wrapper {
              background-image: url("https://cdn.shopify.com/s/files/1/0636/6488/1881/files/medicalbox.png?v=1652034996"); }
              html body .wrapper .block.block_third .block-wrapper .bubles-container-1 .block-bubble:last-child .bubble-wrapper .info {
                width: 35%; }
          html body .wrapper .block.block_third .block-wrapper .bubles-container-2 {
            margin-top: 35px; }
            html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble {
              width: 100%;
              height: 631px; }
              html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper {
                background-image: url("https://cdn.shopify.com/s/files/1/0636/6488/1881/files/boxes.svg?v=1652034996");
                background-repeat: no-repeat;
                height: 100%;
                box-sizing: border-box;
                background-position-x: right;
                background-position-y: bottom; }
                html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left {
                  width: 50%; }
                  html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left .top-sum .sum-title {
                    font-size: 16px;
                    font-family: Inter;
                    margin-bottom: 20px; }
                  html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left .sub-title {
                    font-size: 18px;
                    font-family: Inter-Bold;
                    margin-top: 33px;
                    color: #C0C0C0; }
                  html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left .sum-blocks {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;
                    flex-wrap: wrap; }
                    html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left .sum-blocks .sum-block {
                      margin-top: 40px;
                      width: 48%; }
                      html body .wrapper .block.block_third .block-wrapper .bubles-container-2 .block-bubble .bubble-wrapper .left .sum-blocks .sum-block .info {
                        margin-top: 0;
                        width: 75%; }
        html body .wrapper .block.block_third button {
          margin: 70px auto 0px; }
      html body .wrapper .block.block_fourth {
        background-color: rgba(255, 214, 0, 0.4); }
        html body .wrapper .block.block_fourth .bubles-container .block-bubble {
          height: 295px; }
          html body .wrapper .block.block_fourth .bubles-container .block-bubble .sum {
            margin-top: 25px;
            font-size: 40px; }
            html body .wrapper .block.block_fourth .bubles-container .block-bubble .sum .sum-title {
              font-family: Inter;
              margin-bottom: 10px; }
          html body .wrapper .block.block_fourth .bubles-container .block-bubble .info .bold {
            font-family: Inter-Bold; }
      html body .wrapper .block.block_fifth .bubles-container {
        align-items: flex-start;
        flex-wrap: nowrap; }
        html body .wrapper .block.block_fifth .bubles-container .block-bubble:first-child {
          width: 37%; }
          html body .wrapper .block.block_fifth .bubles-container .block-bubble:first-child .info-title {
            margin-top: 48px; }
          html body .wrapper .block.block_fifth .bubles-container .block-bubble:first-child .info {
            width: 100%;
            margin-top: 53px; }
        html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble {
          background: none;
          background-color: none;
          border-radius: 0;
          box-shadow: none;
          -webkit-box-shadow: none;
          height: 593px; }
          html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper {
            position: relative;
            width: 100%; }
            html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper .image1 {
              position: absolute;
              top: 40px;
              left: 93px; }
            html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper .image2 {
              left: 370px;
              top: 166px;
              position: absolute; }
            html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper .image3 {
              position: absolute;
              top: 400px;
              left: 0px; }
            html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper .image4 {
              left: 316px;
              top: 75px;
              position: absolute; }
            html body .wrapper .block.block_fifth .bubles-container .block-bubble.long-bubble .bubble-wrapper .image5 {
              left: 227px;
              top: 334px;
              position: absolute; }
    html body .wrapper .block-title {
      margin: 100px auto 5px;
      padding-left: 50px;
      font-size: 24px;
      width: 1200px;
      font-family: Inter-Bold;
      font-weight: bold; }
  @media screen and (max-width: 768px) {
    html body .wrapper button {
      width: auto;
      margin: 0px auto 20px; }
    html body .wrapper .title {
      margin-bottom: 0; }
    html body .wrapper .block-title {
      margin: 20px auto 5px;
      padding-left: 5px;
      width: auto; }
    html body .wrapper .block .block-wrapper {
      width: auto;
      padding: 0px 15px; }
      html body .wrapper .block .block-wrapper .block-bubble, html body .wrapper .block .block-wrapper .block-with-top-tooltip {
        width: 100%;
        margin-bottom: 30px; }
        html body .wrapper .block .block-wrapper .block-bubble:last-child, html body .wrapper .block .block-wrapper .block-with-top-tooltip:last-child {
          margin-bottom: 0px; }
    html body .wrapper .block.block_first .block-wrapper .title {
      margin-top: 30px; }
    html body .wrapper .block.block_first .block-wrapper .block-bubble:first-child {
      margin-bottom: 80px; }
    html body .wrapper .block.block_first button {
      margin: 70px auto 0px; }
    html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble:first-child .sum {
      margin-top: 20px; }
    html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble {
      width: auto; }
      html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble {
        margin-bottom: 50px; }
        html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper {
          background-image: none; }
          html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .left, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper .left {
            width: 100%; }
          html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .right, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper .right {
            display: none; }
    html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble {
      height: auto;
      width: 100%; }
      html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper {
        background-image: none; }
        html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper .left {
          width: 100%; }
          html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper .left .sum-blocks .sum-block {
            width: 100% !important; }
    html body .wrapper .block.block_third .block-wrapper .bubles-container.bubles-container-1 .block-bubble {
      height: 400px; }
    html body .wrapper .block.block_fourth .block-wrapper .title {
      margin-bottom: 30px; }
    html body .wrapper .block.block_fourth .block-wrapper .bubles-container {
      margin-bottom: 30px; }
    html body .wrapper .block.block_fifth {
      height: auto; }
      html body .wrapper .block.block_fifth .block-wrapper .bubles-container {
        flex-wrap: wrap; }
        html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble:first-child {
          width: auto; }
        html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble {
          height: 657px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image1 {
            top: 0px;
            left: 0px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image2 {
            left: 100px;
            top: 260px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image3 {
            top: 500px;
            left: 0px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image4 {
            left: 130px;
            top: 140px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image5 {
            left: 0px;
            top: 380px; } }
  @media screen and (max-width: 480px) {
    html body .wrapper button {
      width: auto;
      margin: 0px auto 20px; }
    html body .wrapper .title {
      margin-bottom: 0; }
    html body .wrapper .block-title {
      margin: 20px auto 5px;
      padding-left: 5px;
      width: auto; }
    html body .wrapper .block .block-wrapper {
      width: auto;
      padding: 0px 15px; }
      html body .wrapper .block .block-wrapper .block-bubble, html body .wrapper .block .block-wrapper .block-with-top-tooltip {
        width: 100%;
        margin-bottom: 30px; }
        html body .wrapper .block .block-wrapper .block-bubble:last-child, html body .wrapper .block .block-wrapper .block-with-top-tooltip:last-child {
          margin-bottom: 0px; }
    html body .wrapper .block.block_first .block-wrapper .title {
      margin-top: 30px; }
    html body .wrapper .block.block_first .block-wrapper .block-bubble:first-child {
      margin-bottom: 80px; }
    html body .wrapper .block.block_first button {
      margin: 70px auto 0px; }
    html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble:first-child .sum {
      margin-top: 20px; }
    html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble {
      width: auto; }
      html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble {
        margin-bottom: 50px; }
        html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper {
          background-image: none; }
          html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .left, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper .left {
            width: 100%; }
          html body .wrapper .block.block_second .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .right, html body .wrapper .block.block_second .block-wrapper .bubles-container .long-bubble.long-bubble .bubble-wrapper .right {
            display: none; }
    html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble {
      height: auto;
      width: 100%; }
      html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper {
        background-image: none; }
        html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper .left {
          width: 100%; }
          html body .wrapper .block.block_third .block-wrapper .bubles-container .block-bubble .bubble-wrapper .left .sum-blocks .sum-block {
            width: 100% !important; }
    html body .wrapper .block.block_third .block-wrapper .bubles-container.bubles-container-1 .block-bubble {
      height: 400px; }
    html body .wrapper .block.block_fourth .block-wrapper .title {
      margin-bottom: 30px; }
    html body .wrapper .block.block_fourth .block-wrapper .bubles-container {
      margin-bottom: 30px; }
    html body .wrapper .block.block_fifth {
      height: auto; }
      html body .wrapper .block.block_fifth .block-wrapper .bubles-container {
        flex-wrap: wrap; }
        html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble:first-child {
          width: auto; }
        html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble {
          height: 657px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image1 {
            top: 0px;
            left: 0px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image2 {
            left: 100px;
            top: 260px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image3 {
            top: 500px;
            left: 0px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image4 {
            left: 130px;
            top: 140px; }
          html body .wrapper .block.block_fifth .block-wrapper .bubles-container .block-bubble.long-bubble .bubble-wrapper .image5 {
            left: 0px;
            top: 380px; } }

/*# sourceMappingURL=report-style.css.map */
